<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
    <mat-list>
      <mat-list-item>
        <img src="assets/logo.png" style="width:100px;">
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/dashboard">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/images">Images</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/environments">Environments</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/deployments">Deployments</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/runtimestats">Runtimestats</a>
      </mat-list-item>            
    </mat-list>
  </mat-sidenav>

  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Images</span>
        <span class="example-spacer"></span>
        <span>Account Area</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="example-container mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-sidenav-container>