<mat-sidenav-container>
  <mat-sidenav id="navbar" disableClose mode="side" opened="true">
    <mat-card>
      <img src="assets/logo.png" style="width:90%; margin: 10px;">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4>Home</h4>
        </a>
        <a mat-list-item routerLink="/images">
          <mat-icon mat-list-icon>photo</mat-icon>
          <h4>Images</h4>
        </a>
        <a mat-list-item routerLink="/environments">
          <mat-icon mat-list-icon>computer</mat-icon>
          <h4>Environments</h4>
        </a>
        <a mat-list-item routerLink="/deployments">
          <mat-icon mat-list-icon>cloud</mat-icon>
          <h4>Deployments</h4>
        </a>
        <a mat-list-item routerLink="/runtimestats">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4>Runtimestats</h4>
        </a>
      </mat-nav-list>
    </mat-card>
  </mat-sidenav>

  <div class="main-content">

    <!--
      <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Images</span>
        <span class="example-spacer"></span>
        <span>Account Area</span>
      </mat-toolbar-row>
    </mat-toolbar>
    -->

    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>