<mat-grid-list cols="2" rowHeight="240px">

    <mat-grid-tile colspan="2">
        <!--
        <mat-grid-tile-header>
            <h1>Welcome to ViCE Registry</h1>
        </mat-grid-tile-header>
        <p>
            The image registry that allows to share images of Virtual environments across platforms.
            <br/> To start right away, please choose one of the following next steps.
        </p>
        <mat-grid-tile-footer>
            <button mat-button>EXPLORE IMAGES</button>
        </mat-grid-tile-footer>
        -->

        <mat-card>
            <mat-card-header class="mat-primary">
                <mat-card-title>
                    <h1>Welcome to VICE Registry</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The image registry that allows to share images of Virtual environments across platforms.
                    <br/> To start right away, please choose one of the following next steps.
                </p>
            </mat-card-content>            
        </mat-card>

    </mat-grid-tile>


    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1>Explore Images</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Explore the images stored in the ViCE registry. For public images, no registration is required to browse and explore available
                    images.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/images" mat-raised-button color="primary">EXPLORE IMAGES</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1>Register</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    To use the full feature set of the ViCE registry, please register an account. Registered users can deploy and import images.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/login" mat-raised-button color="primary">REGISTER NOW</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1>About ViCE</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    ViCE is a national project with universities in the federal state of Baden-Württemberg, Germany, in the field of research
                    data management.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/about" mat-raised-button color="primary">READ MORE</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1>Contact & Feedback</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    For questions, comments and feedback, please contact us. We're happy to learn about your experiences with the ViCE registry.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/about" mat-raised-button color="primary">CONTACT INFORMATION</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>