/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color:rgba(122, 153, 172, 0.3);

  /*background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: scroll;		
  background-size: cover;
  background-image: url('https://www.hyggl.com/background.jpg');	  */
}


mat-card {
  margin: 10px;
}
