/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-root {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  height: 100%;
}

body {
  background-color:rgba(122, 153, 172, 0.3);
}

mat-card {
  margin: 10px;
}